body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
main{
    flex-grow: 1;
}
/* header styles */

.header_container{
    display: flex;
     justify-content: space-between; 
     align-items: center;
     padding: 10px 30px;
}

.header_container li{
    list-style-type: none;
    display: inline-block;
    
}
.header_links {
    display: flex;
    justify-content: center;
    gap: 30px;

}
a{
    text-decoration: none;
}

.main_container_name .firstName{
    font-weight: 400;
    /* font-family: ; */


}
.main_container .lastName{

  font-weight: 400;
  /* font-family: ; */


}
.designer{
    color:  #6C63FF;

}
.work{
    background-color:  #6C63FF;
    color: white;
    border-radius: 30px;
    width: 130px;
    height: 40px;
}

