body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
main{
    flex-grow: 1;
}

/* header styles */

.header_container{
    display: flex;
     justify-content: space-between; 
     align-items: center;
     padding: 10px 30px;
}

.header_container li{
    list-style-type: none;
    display: inline-block;
    
}
li{
    list-style-type: none;
}
.header_links {
    display: flex;
    justify-content: center;
    gap: 30px;

}
a{
    text-decoration: none;
}

/* main section styles */

.main_section{
    display: flex;
}

.main_container_name .firstName{
    font-weight: 400;
    /* font-family: ; */


}
.main_container .lastName{

  font-weight: 400;
  /* font-family: ; */


}
.designer{
    color:  #6C63FF;

}
.work{
    background-color:  #6C63FF;
    color: white;
    border-radius: 30px;
    width: 130px;
    height: 40px;
}

/* projects section styles */

.projects_heading{
    display: flex;
    justify-content: center;
}

.featured_projects_container{
    display: flex;
    gap: 20px;
    
}
.featured_project{
    display: flex;
    flex-direction: column;
    background-color:  #F6F6F6;
    border-radius: 30px;

    
}
/* portfolio section */

.portfolio_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
     justify-content: center;
     align-items: center;
}
.portfolio_button_container{
    display: flex;
    gap: 5px 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: max-content;
    padding: 10px 20px;

}
.portfolio_button_container button{
    border-style: none;
}
.portfolio_button_container .active{
    color: white;
    background-color: #6C63FF;
    border-radius: 40px;
    padding: 10px 20px;

}

/* grid section */
.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}
.grid_card{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 30px;
}

/* services section */

.services_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex;
}
.services_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.services_card_img_container{
    background-color:  #F6F6F6;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;

}
.services_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* about me section */

.aboutme_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutme_container{
    display: flex;
    
}
.aboutme_content_container{
    display: flex;
    flex-direction: column;
}

.aboutme_skills{
    background-color:  #F6F6F6;
    border-radius: 20%;

}

/* familiar section */

.familiar_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.familiar_tools_container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


/* contact section css */

.contact_container{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
      }
      .contact_input{
        display: flex;
        flex-direction: column;
        
      }
      .contact_input button{
        color: white;
        background-color:  #6C63FF;
        border-radius: 30%;
        width: max-content;

      }
.contact_inputandinfo{
    display: flex;
}
.contact_icons_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_icons{
    background-color:  #F6F6F6;
    border-radius: 20px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.contact_icons_follow{
    background-color: #F6F6F6;
    border-radius: 20px;
    width:60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.contact_icons_follow_container{
    display: flex;
    gap: 20px;
}

/* footer section */

.footer_section{
    display: flex;
     justify-content: space-around; 
     color: white;
     background-color:  #6C63FF;
     padding: 20px;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer_navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .footer_connect{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }




